body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    border: 1px;
    background-color: green;
    color: white;
    padding: 6px;
    text-align: left;
    display: flex;  
    gap: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: auto;
}
img{
    height: 500px;
    width: 400px;
}
.profile{
    width: 300px;
    height: 300px;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    text-align: center;
    display: flex;  
}
.notify{
    width: 40px;
    height: 40px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 20px;
}